<beans xmlns:security="http://www.springframework.org/schema/security"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                 http://www.springframework.org/schema/beans/spring-beans.xsd
                 http://www.springframework.org/schema/security
                 http://www.springframework.org/schema/security/spring-security.xsd">
	
    <security:http pattern="/resources/**" security="none"/>
    
    <security:http auto-config="true" use-expressions="true">
		<security:intercept-url pattern="/auth/**" access="permitAll" />
    	<security:intercept-url pattern="/user/new**" access="permitAll" />
    	<security:intercept-url pattern="/**" access="hasRole('USER_ROLE')" />
    	
        <security:form-login login-page="/auth/login" login-processing-url="/auth/login/proccess" authentication-failure-url="/auth/login/error"
                             default-target-url="/calendar"/>
        <security:logout/>
    </security:http>
    
	<security:authentication-manager>
	    <security:authentication-provider ref="customAuthenticationProvider"/>
	</security:authentication-manager>
</beans>